.hero-section { /* egen kode spesifikt til Hero som fjerner 100px på grunn av hheader*/
    width: 100%; 
    height: calc(100svh - 100px); /*for å fylle hele skjermen minus 100px header)*/
    overflow: hidden; /*skjuler bildet's overflow for at bilde skal passe i top 100svh uten å bli dratt*/
    position: relative;
}

.image-section { /* identisk som hero-section men uten -100px */
    width: 100%; 
    height: 100svh;
    overflow: hidden;
    position: relative;
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}